@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    Sofia, Bulgaria<br />
</address>

<address>
    <strong>Support:</strong> <a href="mailto:asen.penchev2@gmail.com">asen.penchev2@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:asen.penchev2@gmail.com">asen.penchev2@gmail.com</a>
</address>
